@page "/"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using Blazored.Shared.Components

<PageTitle>Home</PageTitle>

<div class="row">

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- AutoSaveEditForm -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="AutoSaveEditForm">AutoSaveEditForm</a>
            </div>

            <div class="card-body">
                <p class="card-text">A replacement for the default EditForm component which will auto save a form until it is successfully submitted</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Auto Save</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Form</span>
                </div>

                <br />

                @* <p>
                    <a href="https://www.nuget.org/packages/Blazored.AutoSaveEditForm/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.AutoSaveEditForm.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.AutoSaveEditForm/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.AutoSaveEditForm?logo=nuget" alt="nuget" /></a>
                </p> *@

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("AutoSaveEditForm"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("AutoSaveEditForm"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenGitHubPackage("AutoSaveEditForm"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- AzureStaticWebAppAuthentication -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="AzureStaticWebAppAuthentication">AzureStaticWebAppAuthentication</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library to help integrate Blazor with azure static web app authentication</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Azure</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Authentication</span>
                </div>

                <br />

                @* <p>
                    <a href="https://www.nuget.org/packages/Blazored.AzureStaticWebAppAuthentication/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.AzureStaticWebAppAuthentication.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.AzureStaticWebAppAuthentication/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.AzureStaticWebAppAuthentication?logo=nuget" alt="nuget" /></a>
                </p> *@

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("AzureStaticWebAppAuthentication"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("AzureStaticWebAppAuthentication"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenGitHubPackage("AzureStaticWebAppAuthentication"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- FluentValidation -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="FluentValidation">FluentValidation</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library for using FluentValidation with Blazor</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Fluent</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Validation</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.FluentValidation/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.FluentValidation.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.FluentValidation/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.FluentValidation?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("FluentValidation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("FluentValidation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("FluentValidation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- FormExtensions -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="FormExtensions">FormExtensions</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library with some Form Extensions for Blazor:</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Form</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Extensions</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.FormExtensions/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.FormExtensions.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.FormExtensions/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.FormExtensions?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("FormExtensions"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("FormExtensions"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("FormExtensions"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Gitter -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="Gitter">Gitter</a>
            </div>

            <div class="card-body">
                <p class="card-text">A Blazor Gitter Client</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">client</span>
                    <span class="badge badge-pill card-pill-wip" style="margin-left: 5px">WIP</span>
                </div>

                <br />

                @* <p>
                    <a href="https://www.nuget.org/packages/Blazored.Gitter/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Gitter.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Gitter/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Gitter?logo=nuget" alt="nuget" /></a>
                </p> *@

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Gitter"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Gitter"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    @* <button @onclick="@(() => OpenGitHubPackage("Gitter"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button> *@
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
        
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- LocalStorage -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="LocalStorage">LocalStorage</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library to provide access to local storage in Blazor applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Storage</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.LocalStorage/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.localstorage.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.LocalStorage/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.LocalStorage?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("LocalStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("LocalStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("LocalStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Menu -->
        <div class="card" style="width: 18rem">

            <img src="https://github.com/Blazored/Menu/raw/main/screenshot.png" class="card-img-top" alt="" />
            <div class="card-header">
                <a href="Menu">Menu</a>
            </div>

            <div class="card-body">
                <p class="card-text">A JavaScript free menu library for Blazor and Razor Components applications.</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">js-free</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Menu/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Menu.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Menu/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Menu?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Menu"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Menu"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Menu"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Modal -->
        <div class="card" style="width: 18rem">

            <img src="https://user-images.githubusercontent.com/6171719/205016381-79dd5c65-8090-4bac-91e9-b4aee6e246d6.png" class="card-img-top" alt="" />
            <div class="card-header">
                <a href="Modal">Modal</a>
            </div>

            <div class="card-body">
                <p class="card-text">A powerful and customizable modal implementation for Blazor applications.</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">modal</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Modal/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Modal.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Modal/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Modal?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Modal"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Modal"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Modal"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- SessionStorage -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="SessionStorage">SessionStorage</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library to provide access to session storage in Blazor applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Storage</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.SessionStorage/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.SessionStorage.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.SessionStorage/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.SessionStorage?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("SessionStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("SessionStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("SessionStorage"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- TextEditor -->
        <div class="card" style="width: 18rem">

            <img src="https://github.com/Blazored/TextEditor/raw/main/docs/images/HTMLExample.png" class="card-img-top" alt="TextEditor" />
            <div class="card-header">
                <a href="TextEditor">TextEditor</a>
            </div>

            <div class="card-body">
                <p class="card-text">Rich text editor for Blazor applications - Uses Quill JS</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">text</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">WYSIWYG</span>
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Quill JS</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.TextEditor/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.TextEditor.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.TextEditor/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.TextEditor?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("TextEditor"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("TextEditor"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("TextEditor"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
    
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Toast -->
        <div class="card" style="width: 18rem">

            <img src="https://github.com/Blazored/Toast/raw/main/screenshot.png" class="card-img-top" alt="" />
            <div class="card-header">
                <a href="Toast">Toast</a>
            </div>

            <div class="card-body">
                <p class="card-text">A JavaScript free toast library for Blazor and Razor Component applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Message</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Toast/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Toast.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Toast/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Toast?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Toast"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Toast"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Toast"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>
        
    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Video -->
        <div class="card" style="width: 18rem">

            <img src="https://github.com/Blazored/Video/raw/main/screenshot.png" class="card-img-top" alt="Video" />
            <div class="card-header">
                <a href="Video">Video</a>
            </div>

            <div class="card-body">
                <p class="card-text">The easiest html5 video implementation for Blazor applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-dark" style="margin-left: 5px">Video</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Video/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Video.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Video/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Video?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Video"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Video"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Video"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span></span>
            </div>

        </div>
    </div>

</div>

<div class="row">

    <h2>Archived Packages</h2>

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Localisation -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="Localisation">Localisation</a>
            </div>

            <div class="card-body">
                <p class="card-text">A library to provide localisation in client-side Blazor applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-archive" style="margin-left: 5px">Archive</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Localisation/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Localisation.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Localisation/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Localisation?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Localisation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Localisation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Localisation"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span>Archived</span>
            </div>

        </div>
    </div>

    <div class="col-md-3" style="margin-bottom: 50px">
        <!-- Typeahead -->
        <div class="card" style="width: 18rem">

            <img src="/_content/Blazored.Shared/images/Blazored.png" class="card-img-top" alt="Blazored" />
            <div class="card-header">
                <a href="Typeahead">Typeahead</a>
            </div>

            <div class="card-body">
                <p class="card-text">Typeahead control for Blazor applications</p>

                <div class="card-topics-container">
                    <span class="badge badge-pill card-pill-archive" style="margin-left: 5px">Archive</span>
                </div>

                <br />

                <p>
                    <a href="https://www.nuget.org/packages/Blazored.Typeahead/" target="_blank"><img src="https://img.shields.io/nuget/v/blazored.Typeahead.svg?logo=nuget" alt="nuget" /></a>
                    <a href="https://www.nuget.org/packages/Blazored.Typeahead/" target="_blank"><img src="https://img.shields.io/nuget/dt/Blazored.Typeahead?logo=nuget" alt="nuget" /></a>
                </p>

                <div class="btn-group">
                    <button @onclick="@(() => OpenRepository("Typeahead"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-github"></i> Code
                    </button>
                    <button @onclick="@(() => OpenSite("Typeahead"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-globe"></i> Site
                    </button>
                    <button @onclick="@(() => OpenNuGet("Typeahead"))" type="button" class="btn btn-sm btn-outline-dark card-button">
                        <i class="bi bi-microsoft"></i> NuGet
                    </button>
                </div>
            </div>

            <div class="card-footer">
                <span>Archived</span>
            </div>

        </div>
    </div>


</div>

@code {
    async void OpenRepository(string repo)
    {
        // NavigationManager.NavigateTo(repo);
        await JSRuntime.InvokeVoidAsync("open", $"https://www.github.com/Blazored/{repo}", "_blank");
    }

    async void OpenSite(string site)
    {
        // NavigationManager.NavigateTo(site);
        await JSRuntime.InvokeVoidAsync("open", $"https://blazored.github.io/{site}", "_blank");
    }

    async void OpenNuGet(string package)
    {
        // NavigationManager.NavigateTo(package);
        await JSRuntime.InvokeVoidAsync("open", $"https://www.nuget.org/packages/Blazored.{package}", "_blank");
        // https://www.nuget.org/profiles/Blazored
    }

    async void OpenGitHubPackage(string package)
    {
        // NavigationManager.NavigateTo(package);
        await JSRuntime.InvokeVoidAsync("open", $"https://github.com/Blazored/{package}/pkgs/nuget/Blazored.{package}", "_blank");
        // https://github.com/Blazored/AutoSaveEditForm/pkgs/nuget/Blazored.AutoSaveEditForm
    }
    
}